# dump

# version
# Betaflight / STM32F7X2 (S7X2) 4.5.0 May 24 2024 / 14:26:03 (c155f5830) MSP API: 1.46

# start the command batch
batch start

board_name AOCODARCF722V2
manufacturer_id SJET

# name: -

# led
led 0 8,0::C:1
led 1 9,0::C:1
led 2 10,0::C:1
led 3 11,0::C:1
led 4 12,0::C:1
led 5 13,0::C:1
led 6 14,0::C:1
led 7 15,0::C:1
led 8 0,0::C:0
led 9 0,0::C:0
led 10 0,0::C:0
led 11 0,0::C:0
led 12 0,0::C:0
led 13 0,0::C:0
led 14 0,0::C:0
led 15 0,0::C:0
led 16 0,0::C:0
led 17 0,0::C:0
led 18 0,0::C:0
led 19 0,0::C:0
led 20 0,0::C:0
led 21 0,0::C:0
led 22 0,0::C:0
led 23 0,0::C:0
led 24 0,0::C:0
led 25 0,0::C:0
led 26 0,0::C:0
led 27 0,0::C:0
led 28 0,0::C:0
led 29 0,0::C:0
led 30 0,0::C:0
led 31 0,0::C:0

# color
color 0 0,0,0
color 1 0,255,255
color 2 0,0,255
color 3 30,0,255
color 4 60,0,255
color 5 90,0,255
color 6 120,0,255
color 7 150,0,255
color 8 180,0,255
color 9 210,0,255
color 10 240,0,255
color 11 270,0,255
color 12 300,0,255
color 13 330,0,255
color 14 0,0,0
color 15 0,0,0

# mode_color
mode_color 0 0 1
mode_color 0 1 11
mode_color 0 2 2
mode_color 0 3 13
mode_color 0 4 10
mode_color 0 5 3
mode_color 1 0 5
mode_color 1 1 11
mode_color 1 2 3
mode_color 1 3 13
mode_color 1 4 10
mode_color 1 5 3
mode_color 2 0 10
mode_color 2 1 11
mode_color 2 2 4
mode_color 2 3 13
mode_color 2 4 10
mode_color 2 5 3
mode_color 3 0 8
mode_color 3 1 11
mode_color 3 2 4
mode_color 3 3 13
mode_color 3 4 10
mode_color 3 5 3
mode_color 4 0 7
mode_color 4 1 11
mode_color 4 2 3
mode_color 4 3 13
mode_color 4 4 10
mode_color 4 5 3
mode_color 5 0 0
mode_color 5 1 0
mode_color 5 2 0
mode_color 5 3 0
mode_color 5 4 0
mode_color 5 5 0
mode_color 6 0 6
mode_color 6 1 10
mode_color 6 2 1
mode_color 6 3 0
mode_color 6 4 0
mode_color 6 5 2
mode_color 6 6 3
mode_color 6 7 6
mode_color 6 8 0
mode_color 6 9 0
mode_color 6 10 0
mode_color 7 0 3

set osd_displayport_device = AUTO
set vcd_video_system = AUTO	


set osd_units = METRIC
set osd_warn_bitmask = 270335
set osd_rssi_alarm = 20
set osd_link_quality_alarm = 80
set osd_rssi_dbm_alarm = -60
set osd_rsnr_alarm = 4
set osd_cap_alarm = 2200
set osd_alt_alarm = 100
set osd_distance_alarm = 0
set osd_esc_temp_alarm = 0
set osd_esc_rpm_alarm = -1
set osd_esc_current_alarm = -1
set osd_core_temp_alarm = 70
set osd_ah_max_pit = 20
set osd_ah_max_rol = 40
set osd_ah_invert = OFF
set osd_logo_on_arming = OFF
set osd_logo_on_arming_duration = 5
set osd_tim1 = 2560
set osd_tim2 = 2561
set osd_vbat_pos = 341
set osd_rssi_pos = 341
set osd_link_quality_pos = 341
set osd_link_tx_power_pos = 341
set osd_rssi_dbm_pos = 341
set osd_rsnr_pos = 341
set osd_tim_1_pos = 341
set osd_tim_2_pos = 341
set osd_remaining_time_estimate_pos = 341
set osd_flymode_pos = 341
set osd_anti_gravity_pos = 341
set osd_g_force_pos = 341
set osd_throttle_pos = 341
set osd_vtx_channel_pos = 341
set osd_crosshairs_pos = 312
set osd_ah_sbar_pos = 313
set osd_ah_pos = 185
set osd_current_pos = 341
set osd_mah_drawn_pos = 341
set osd_wh_drawn_pos = 341
set osd_motor_diag_pos = 341
set osd_craft_name_pos = 341
set osd_pilot_name_pos = 341
set osd_gps_speed_pos = 341
set osd_gps_lon_pos = 341
set osd_gps_lat_pos = 341
set osd_gps_sats_pos = 341
set osd_home_dir_pos = 341
set osd_home_dist_pos = 341
set osd_flight_dist_pos = 341
set osd_compass_bar_pos = 341
set osd_altitude_pos = 341
set osd_pid_roll_pos = 341
set osd_pid_pitch_pos = 341
set osd_pid_yaw_pos = 341
set osd_debug_pos = 341
set osd_power_pos = 341
set osd_pidrate_profile_pos = 341
set osd_warnings_pos = 14731
set osd_avg_cell_voltage_pos = 341
set osd_pit_ang_pos = 341
set osd_rol_ang_pos = 341
set osd_battery_usage_pos = 341
set osd_disarmed_pos = 341
set osd_nheading_pos = 341
set osd_up_down_reference_pos = 312
set osd_ready_mode_pos = 341
set osd_nvario_pos = 341
set osd_esc_tmp_pos = 341
set osd_esc_rpm_pos = 341
set osd_esc_rpm_freq_pos = 341
set osd_rtc_date_time_pos = 341
set osd_adjustment_range_pos = 341
set osd_flip_arrow_pos = 341
set osd_core_temp_pos = 341
set osd_log_status_pos = 341
set osd_stick_overlay_left_pos = 341
set osd_stick_overlay_right_pos = 341
set osd_stick_overlay_radio_mode = 2
set osd_rate_profile_name_pos = 341
set osd_pid_profile_name_pos = 341
set osd_profile_name_pos = 341
set osd_rcchannels_pos = 341
set osd_camera_frame_pos = 142
set osd_efficiency_pos = 341
set osd_total_flights_pos = 341
set osd_aux_pos = 341
set osd_sys_goggle_voltage_pos = 341
set osd_sys_vtx_voltage_pos = 341
set osd_sys_bitrate_pos = 341
set osd_sys_delay_pos = 341
set osd_sys_distance_pos = 341
set osd_sys_lq_pos = 341
set osd_sys_goggle_dvr_pos = 341
set osd_sys_vtx_dvr_pos = 341
set osd_sys_warnings_pos = 341
set osd_sys_vtx_temp_pos = 341
set osd_sys_fan_speed_pos = 341
set osd_stat_bitmask = 14124
set osd_profile = 1
set osd_profile_1_name = -
set osd_profile_2_name = -
set osd_profile_3_name = -
set osd_gps_sats_show_pdop = OFF
set osd_displayport_device = AUTO
set osd_rcchannels = -1,-1,-1,-1
set osd_camera_frame_width = 24
set osd_camera_frame_height = 11
set osd_stat_avg_cell_value = OFF
set osd_framerate_hz = 12
set osd_menu_background = TRANSPARENT
set osd_aux_channel = 1
set osd_aux_scale = 200
set osd_aux_symbol = 65
set osd_canvas_width = 30
set osd_canvas_height = 13
set osd_craftname_msgs = OFF
# end the command batch
batch end

# 
save